<div class="container">
  <div class="col-md-2">
    <%= link_to 'вылогиниться', destroy_user_session_path, method: :delete %><br>
     <%= link_to 'Список всех пользователей', users_path %>
    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000" />
    <p>Welcome back <%= current_user.email %></p><br>
    <p> <%= link_to 'Список друзей и приглащений' %></p><br>
  </div>
  <div class="col-md-10">
    <%= form_for @post do |f| %>
    <%= f.text_area :message, placeholder: "write a text..." %>
    <%= f.submit 'создать сообщение' %>
    <% end %>

    <% @posts.each do |post| %>
    <table style="width: 500px;">
      <tr >
        <td style="text-align: left;">
          <%= post.created_at %>  <%= post.user.email %>:
        </td>
        <td style="text-align: left;">
          <%= post.message %>
        </td>
      </tr>
    </table>
      <br>
    <% end %>
  </div>
</div>
