<p>На главную</p> <%= link_to 'HOME', root_path %>

<p>Список всех пользователей в системе</p>
<%= will_paginate %>
  <% @users.each do |user| %>

    <ul>
      <li>
          <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000" />
          <%= link_to 'Профиль пользователя', user %><br><%= user.email %></li>
      <li>
        <% unless (user.id == current_user.id) or @responders.rindex(user.id) %>
          <%= form_tag("/request_to_friend", method: 'get') do %>
            <%= hidden_field_tag(:requester_id, current_user.id) %>
            <%= hidden_field_tag(:responder_id, user.id) %>
            <%= submit_tag('Подписаться в друзья') %>
          <% end %>
        <% end %>
        <%= link_to 'Удалить пользователя' %></li>
    </ul>

  <% end %>
<%= will_paginate %>
